<%- include('../layout/user/header.ejs') %> 

    <!-- Navbar End -->


    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-1">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 100px">
            <h1 class="font-weight-semi-bold text-uppercase mb-1">Shopping Cart</h1>
            <!-- <div class="d-inline-flex">
                <p class="m-0"><a href="">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Shopping Cart</p>
            </div> -->
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Cart Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            
            <% if(cartData.length>0) {%> 

            <div class="col-lg-8 table-responsive mb-5">

                <table class="table table-bordered text-center mb-0">
                    <thead class="bg-secondary text-dark">
                        <tr>
                            <th>Products</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        <% var subtotal=0 %> 
                        <% cartData.forEach(function(cart,i) {%> 
                        <tr>
                            <!-- <form action="/add-tocart" method="post"> -->
                            <td class="align-middle"><img src="/Public/admin/productimage/<%= cart.productId.image %> " alt="" style="width: 100px;"><%= cart.productId.name %> </td>
                            <td class="align-middle">₹<%= cart.productId.price %> </td>
                            <td class="align-middle">
                                <div class="input-group quantity mx-auto" style="width: 100px;">
                                    <div class="input-group-btn">
                                         
                                        <button class="btn btn-sm btn-primary"  <% if(cart.qty==1){ %> style="pointer-events:none;" <% } %> 
                                            onclick="decqty('<%= cart.productId._id %>','<%= i %>')" role="button"><i class="fa fa-minus"></i></button>
                                        <!-- <button class="btn btn-sm btn-primary btn-minus" type="submit" >
                                        <i class="fa fa-minus"></i>
                                        </button> -->
                                        <script>
                                            // function decqty(productId,i){
                                            //     $.ajax({
                                            //         url:'/cart-decQty',
                                            //         method:'put',
                                            //         data:{id:productId},
                                            //         success: (res) =>{
                                            //             // $(`#cartQty${i}`).html(res.data.existProduct.qty)
                                            //             // $(`#cartPrice${i}`).html(res.data.existProduct.price)
                                            //             location.reload()
                                            //         }
                                            //     })
                                            // }
                                        </script>
                                    </div>
                                
                                         <span id="cartQty<%= i %>" class="form-control form-control-sm bg-secondary text-center" ><%= cart.qty %></span>

                                    <div class="input-group-btn">
                                     <button class="btn btn-sm btn-primary" onclick="incqty('<%= cart.productId._id %>','<%= i %>')" role="button"><i class="fa fa-plus"></i></button>
                                        <script>
                                            // function incqty(productId,i){
                                            //     $.ajax({
                                            //         url:'/cart-incQty',
                                            //         method:'put',
                                            //         data:{id:productId},
                                            //         success: (res) =>{
                                            //             // $(`#cartQty${i}`).html(res.data.existProduct.qty)
                                            //             // $(`#cartPrice${i}`).html(res.data.existProduct.price)
                                            //             location.reload()
                                            //         }
                                            //     })
                                            // }
                                        </script>
                                    </div>
                                </div>
                            </td>
                            <td id="cartPrice<%= i %>" class="align-middle">₹<%= cart.price %></td>
                            <% subtotal += cart.price %> 
                            <td class="align-middle"><a class="btn btn-sm btn-primary" href="/cart-delete?id=<%= cart._id %> " onclick="return confirm ('Are you sure')" role="button"><i class="fa fa-times"></i></a></td>
                            <!-- <a class="btn btn-sm btn-primary" href="" role="button"><i class="fa fa-times"></i></a> -->

                            <!-- <td class="align-middle"><button class="btn btn-sm btn-primary"><i class="fa fa-times"></i></button></td> -->
                        <!-- </form> -->
                        </tr>
                        <% }) %> 
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4">
                <% if(price!=null) { %> 
                <div class="card border-secondary mb-5">
                    <form action="/checkout" method="post">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Cart Summary</h4>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Items</h6>
                            <h6 class="font-weight-medium"><%= items.cart.totalItems %> </h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Subtotal</h6>
                            <h6 class="font-weight-medium">₹<%= total.cart.totalPrice %></h6>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            <h5 id="cartTotal" class="font-weight-bold">₹<%= total.cart.totalPrice %> </h5>
                        </div>
                        <!-- <a class="btn btn-block my-3 py-3 btn-primary" href="/checkout?id=" role="button">Proceed To Checkout</a> -->
                        <button type="submit" class="btn btn-block btn-primary my-3 py-3">Proceed To Checkout</button>
                    </div>
                </form>
                </div>
                <% } %> 
             
            </div>
            <% }else{ %> 
                <div class="col-lg-12 table-responsive mb-5">
                <div class="d-flex justify-content-center mb-5">
                    <img class="img-fluid mt-5" style="width: 500px;" src="/Public/user/images/user-empty-cart.png" alt="">
                  </div>
                  </div>
                <% } %> 
            
        </div>
        
    </div>
    <!-- Cart End -->


    <!-- Footer Start -->
    <%- include('../layout/user/footer.ejs') %> 
