<%- include('../layout/user/header.ejs') %> 

    <!-- Navbar End -->


    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 100px">
            <h1 class="font-weight-semi-bold text-uppercase mb-1">Checkout</h1>
            <!-- <div class="d-inline-flex">
                <p class="m-0"><a href="">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Checkout</p>
            </div> -->
        </div>
    </div>
    <!-- Page Header End --> 

    <!-- Checkout Start -->
    <form action="/payment" method="post">
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <!-- <div class="col-lg-8 pb-5 form-group">
                <h5 class="font-weight-semi-bold">Choose Address</h5>
                <select onchange="chooseaddress(this.value)" class="custom-select" >
                    <option selected>choose</option>
                    <% address.forEach(function(address) {%> 
                    <option value="<%= address.id %>">
                        <%= address.addresstype %>,
                        <%= address.name %>,
                        <%= address.address %>,
                        <%= address.district %>,
                        <%= address.state %>,
                        <%= address.country %>
                        <%= address.pin %>,
                        <%= address.mobile %>
                     </option>
                        <% }) %> 
                </select>
            </div> -->
            <div class="col-lg-8">
                <div class="pb-5 form-group">
                    <h5 class="font-weight-semi-bold">Choose Address</h5>
                    <select onchange="chooseaddress(this.value)" class="custom-select" >
                        <option selected>choose</option>
                        <% address.forEach(function(address) {%> 
                        <option value="<%= address.id %>">
                            <%= address.addresstype %>,
                            <%= address.name %>,
                            <%= address.address %>,
                            <%= address.district %>,
                            <%= address.state %>,
                            <%= address.country %>
                            <%= address.pin %>,
                            <%= address.mobile %>
                         </option>
                            <% }) %> 
                    </select>
                </div>
                <div class="mb-4">
                    <h4 class="font-weight-semi-bold mb-4">Billing Address</h4>
                    <div class="row">
                        
                        <div class="col-md-6 form-group">
                            <label>Address Type</label>
                            <input id="type" name="addtype" class="form-control" type="text" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Name</label>
                            <input id="name" name="name" class="form-control" type="text" >
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Address</label>
                            <input id="address" name="address" class="form-control" type="text">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>District</label>
                            <input id="district" name="district" class="form-control" type="text">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>State</label>
                            <input id="state" name="state" class="form-control" type="text">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Country</label>
                            <input id="country" name="country" class="form-control" type="text">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Pin code</label>
                            <input id="pin" name="pin" class="form-control" type="text">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Mobile No:</label>
                            <input id="mobile" name="mobile" class="form-control" type="text">
                        </div>
                        <script>
                            // function chooseaddress(address){
                            //     $.ajax({
                            //         url:'/checkout',
                            //         method:'put',
                            //         data:{id:address},
                            //         success: (res)=>{
                            //             $("#type").val(res.data[0].address.addresstype)
                            //             $("#name").val(res.data[0].address.name)
                            //             $("#address").val(res.data[0].address.address)
                            //             $("#district").val(res.data[0].address.district)
                            //             $("#state").val(res.data[0].address.state)
                            //             $("#country").val(res.data[0].address.country)
                            //             $("#pin").val(res.data[0].address.pin)
                            //             $("#mobile").val(res.data[0].address.mobile)
                            //         }
                            //     })
                            // }
                        </script>
                        <!-- <div class="col-md-12 form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="newaccount">
                                <label class="custom-control-label" for="newaccount">Create an account</label>
                            </div>
                        </div> -->
                        <!-- <div class="col-md-12 form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="shipto">
                                <label class="custom-control-label" for="shipto"  data-toggle="collapse" data-target="#shipping-address">Ship to different address</label>
                            </div>
                        </div> -->
                    </div>
                </div>
                <!-- <div class="collapse mb-4" id="shipping-address">
                    <h4 class="font-weight-semi-bold mb-4">Shipping Address</h4>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>First Name</label>
                            <input class="form-control" type="text" placeholder="John">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Last Name</label>
                            <input class="form-control" type="text" placeholder="Doe">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>E-mail</label>
                            <input class="form-control" type="text" placeholder="example@email.com">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Mobile No</label>
                            <input class="form-control" type="text" placeholder="+123 456 789">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Address Line 1</label>
                            <input class="form-control" type="text" placeholder="123 Street">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Address Line 2</label>
                            <input class="form-control" type="text" placeholder="123 Street">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Country</label>
                            <select class="custom-select">
                                <option selected>United States</option>
                                <option>Afghanistan</option>
                                <option>Albania</option>
                                <option>Algeria</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>City</label>
                            <input class="form-control" type="text" placeholder="New York">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>State</label>
                            <input class="form-control" type="text" placeholder="New York">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>ZIP Code</label>
                            <input class="form-control" type="text" placeholder="123">
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="col-lg-4">
                <span id="message" style="margin-left: 100px; font-weight: bold;"></span>
                <!-- <form class="mb-5" action=""> -->
                    <div class="input-group mb-5">
                        <input type="text" name="couponcode" id="couponCode" class="form-control p-4" placeholder="Coupon Code">
                        <input type="hidden" id="couponId" name="couponid" value=""> 
                        <div class="input-group-append">
                            <button class="btn btn-primary" id="coupon_button" onclick="couponCheck()">Apply Coupon</button>
                        </div>
                    </div>
                <!-- </form> -->
                <div class="card border-secondary mb-5">
                    <% if(cartData!=null) {%> 
                    <% var subtotal=0 %> 
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Order Total</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="font-weight-medium mb-3">Products</h5>
                        <% cartData.forEach(function(cart) {%> 
                        <div class="d-flex justify-content-between">
                            <div class="d-flex" style="width: 150px;">
                                <p><%= cart.productId.name %> </p>
                            </div>
                            <div class="d-flex" style="width: 100px;">
                                <p> <span class="font-weight-semi-bold">X</span> <%= cart.qty %> </p>
                            </div>
                            <div class="d-flex" style="width: 100px;">
                                <p><%= cart.price %> </p>
                                <% subtotal += cart.price %> 
                            </div>
                        </div>
                        <% }) %> 
                        
                        <!-- <div class="d-flex justify-content-between">
                            <p>Colorful Stylish Shirt 2</p>
                            <p>$150</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p>Colorful Stylish Shirt 3</p>
                            <p>$150</p>
                        </div> -->
                        <hr class="mt-0">
                        <% if(price!=null) {%> 
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Subtotal</h6>
                            <h6 class="font-weight-medium">₹ <span id="subtotal"><%= totalPrice[0].totalPrice %></span></h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium">Free</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Coupon Applied :</h6>
                            <h6 class="font-weight-medium"><span id="coupon_code"></span></h6>
                        </div>
                        <input type="hidden" name="item" value="<%= cartLenght.lenght %> ">
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            <h5 class="font-weight-bold">₹<span id="total"><%= totalPrice[0].totalPrice %></span> </h5>
                        <input type="hidden" name="totalPrice" value="<%= totalPrice[0].totalPrice %>">
                        </div>
                    </div>
                    <% } %> 
                    <% } %> 
                </div>
                <input type="hidden" name="subtotal" id="subtotal_amount">
                <input type="hidden" name="totalpay" id="total_amount" value="">
                <div class="card border-secondary mb-5">
                  
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Payment</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" name="type" class="custom-control-input" value="COD" id="paypal" checked>
                                <label class="custom-control-label" for="paypal">COD</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" name="type" class="custom-control-input" value="paypal" id="directcheck">
                                <label class="custom-control-label" nam for="directcheck">Online payment</label>
                            </div>
                        </div>
                        <div class="">
                            <!-- <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="banktransfer">
                                <label class="custom-control-label" for="banktransfer">Bank Transfer</label>
                            </div> -->
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <button class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Place Order</button>
                    </div>
               
                </div>
            </div>
        </div>
    </div>
    </form>
    <!-- Checkout End -->


    <!-- Footer Start -->
    <%- include('../layout/user/footer.ejs') %> 
