<%- include('../layout/user/header.ejs') %> 

    <!-- Navbar End -->


    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 100px">
            <h1 class="font-weight-semi-bold text-uppercase mb-1">Your Account</h1>
            <!-- <div class="d-inline-flex">
                <p class="m-0"><a href="">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Contact</p>
            </div> -->
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Contact Start -->
    <% if(userData!=null) {%> 
    <div class="container-fluid">
        <form action="/add-address" method="get">
            <div class="row">
                <div class="col-md-4">
                   
                </div>
                <div class="col-md-6">
                    
                </div>
                
            </div>
            <div class="row">
              
                <div class="col-md-8">
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <!-- <div class="row">
                                        <div class="col-md-6">
                                            <label>User Id</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>Kshiti123</p>
                                        </div>
                                    </div> -->
                                    <div class="row ml-2">
                                        <div class="col-md-4">
                                            <h4>Name</h4>
                                        </div>
                                        <div class="col-md-8">
                                            <p><%= userData.name %> </p>
                                        </div>
                                    </div>
                                    <div class="row ml-2">
                                        <div class="col-md-4">
                                            <h4>Email</h4>
                                        </div>
                                        <div class="col-md-8">
                                            <p><%= userData.email %> </p>
                                        </div>
                                    </div>
                                    <div class="row ml-2">
                                        <div class="col-md-4">
                                            <h4>Phone</h4>
                                        </div>
                                        <div class="col-md-8">
                                            <p><%= userData.phone_no %> </p>
                                        </div>
                                    </div>
                                    
                        </div>
                    
                    </div>
                </div>
                <div class="col-md-4">
                    <% if(userData.address!=null) {%> 
                    <!-- <div class="profile-work">
                        <h5>Profile</h5>
                        <a href="">Address</a><br/>
                        <a href="">Orders</a><br/>
                        <a href="">Wishlist</a>
                    </div> -->
                    <!-- <button type="button" class="btn btn-primary mb-3" style="width: 180px;">Edit profile</button> -->
                    <a class="btn btn-primary mb-3" style="width: 180px;" href="/edit-profile?id=<%= userData._id %> " role="button">Edit profile</a>
                    <br>
                    <!-- <button type="button"  class="btn btn-primary mb-3" style="width: 180px;">Change password</button> -->
                    <a class="btn btn-primary mb-3" style="width: 180px;" href="/change-password" role="button">Change password</a>
                    <br>
                    <!-- <button type="submit" class="btn btn-primary mb-3" style="width: 180px;">Add address</button> -->
                    <a class="btn btn-primary mb-3" style="width: 180px;" href="/address" role="button">Add address</a>
                    <% } %> 
                </div>
            </div>
            <div class="row mt-5">
            <% userData.address.forEach(function(address) {%> 
          <div class="col-lg-3">
            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0"><%= address.addresstype %>   Address</h4>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Name</h6>
                        <h6 class="font-weight-medium"><%= address.name %></h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Address</h6>
                        <h6 class="font-weight-medium"><%= address.address %></h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">District</h6>
                        <h6 class="font-weight-medium"><%= address.district %></h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">State</h6>
                        <h6 class="font-weight-medium"><%= address.state %></h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Country</h6>
                        <h6 class="font-weight-medium"><%= address.country %></h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Pin code</h6>
                        <h6 class="font-weight-medium"><%= address.pin %></h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Mobile</h6>
                        <h6 class="font-weight-medium"><%= address.mobile %></h6>
                    </div>
                </div>
                <div class="card-footer border-secondary bg-transparent">
                    <% if(address.status==true) {%> 
                        <!-- <a class="btn btn-primary mb-3" style="width: 140px;" href="/edit-address?id=<%= address._id %>" role="button">Default</a>
                        <a class="btn btn-primary mb-3" style="width: 140px;" href="/delete-address?id=<%= address._id %>" role="button">Delete</a> -->
                        <% } else { %> 
                            <!-- <a class="btn btn-primary mb-3" style="width: 140px;" href="/delete-address?id=<%= address._id %>" role="button">set as default</a> -->
                            <a class="btn btn-primary mb-3" style="width: 140px;" href="/delete-address?id=<%= address._id %>" onclick="return confirm ('Are you sure')" role="button">Delete</a>
                        <% } %>    
                    <!-- <button class="btn  btn-primary ">Delete</button> -->
                </div>
            </div>
          </div>  
          <% }) %>
        </div>
        </form>           
    </div>
    <% } %> 
    <!-- Contact End -->


    <!-- Footer Start -->
    <%- include('../layout/user/footer.ejs') %> 
